body {
    width: 500px;
    height: 5000px;
    overflow-y:auto;
    font-family: Arial, sans-serif;
    padding: 10px;
}

h2 {
    text-align: center;
}

button {
    width: 100%;
    padding: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#result {
    width: 500px;
    margin-top: 10px;
    max-height: auto; 
    overflow-y: scroll;
}

#output{
    width: 500px;
    margin-top: 10px;
    max-height: 70vh; 
    overflow-y: scroll;
}